doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(rel="stylesheet" href="static/css/style.css" type="text/css")
    link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    body
    header#header.header
      .header__body
        .header__nav
          .header__logo
            img.header__img(src='static/img/Logo.png', alt='Logo')
          .header__toogle ≡
          .header__out ×
          .header__item
            a.header__items.header__items_active(href='#header') Home
            a.header__items.header__items_NoActive(href='#about') About
            a.header__items.header__items_NoActive(href='#happy') Clients
            a.header__items.header__items_NoActive(href='#portfolio') Portfolio
            a.header__items.header__items_NoActive(href='#blog') Blog
        .header__content
          h3.header__title
            | Hello, I'm 
            br
            |  Dakota Jhonson
          p.header__subtitle I’m an Art Director & Photographer based in the San Francisco.
          a.header__button.button(href='') See My Works
        .header__links
          .header__box
          #arroButton.header__box
            a(href='#about')
              img.header__arrow(src='static/img/Scroll.png', alt='Arrow')
          .header__box
            a.header__link(href='')
              i.fa.fa-facebook(aria-hidden='true')
            a.header__link(href='')
              i.fa.fa-twitter(aria-hidden='true')
            a.header__link(href='')
              i.fa.fa-instagram(aria-hidden='true')
            a.header__link(href='')
              i.fa.fa-telegram(aria-hidden='true')
      .header__imgage
        img.header__squares(src='static/img/header/Group 4 copy.png', alt='squares')
        img.header__reverseSquares(src='static/img/header/Group 4.png', alt='reverseSquares')
        img.header__cross(src='static/img//header/cross.png', alt='cross')
        img.header__big(src="static/img/header/line.png", alt="bСross")
    section#about.about
      .about__body
        .about__images
          img.about__img(src='static/img/sergey-zolkin-1045.png', alt='img')
          img.about__squareOne(src='static/img/about/Rectangle 3 copy.png', alt='squareOne')
          img.about__squareTwo(src='static/img/about/Rectangle 3 copy 2.png', alt='squareTwo')
          img.about__squareFri(src='static/img/about/Rectangle 3 copy 3.png', alt='squareFri')
          img.about__lattice(src='static/img/about/Group 11.png', alt='lattice')
        .about__content
          .about__info
            h3.about__title.title About MySelf
            p.about__subtitle.subtitle
              | Hey, thanks for stopping by. My name’s Dakota Jhonson junior and I’m a briliant Art Director and pro 
              br
              |  Photographer based in the San Francisco where I make cool things for agencies and brands around 
              br
              |  globe. Mentas is loaded with useful features, each one with its own meaningful purpose. We listen to 
              br
              |  our users and integrate their feature requests on a regular basis. If you like my work then please do not 
              br
              |  hesitate to reach out.
          h3.about__question What I Do?
          .about__row
            .about__column
              .item__about
                .item-about__title FASHION
                .item-about__icon
                  img(src='static/img/pete-bellis-189599.png', alt='FASHION')
            .about__column
              .item__about
                .item-about__title PORTRAITS
                .item-about__icon
                  img(src='static/img/henri-meilhac-134082.png', alt='PORTRAITS')
            .about__column
              .item__about
                .item-about__title LIFESTYLE
                .item-about__icon
                  img(src='static/img/pete-bellis-225635 copy 2.png', alt='LIFESTYLE')
          .about__buttons
            a.about__button(href='#') View My Flickr Profile
    section#happy.happy
      .happy__body
        h3.happy__title.title Happy Clients
        .happy__box
          img.happy__img(src='static/img/Happy/1.png', alt='logo1')
          img.happy__img(src='static/img/Happy/2.png', alt='logo2')
          img.happy__img(src='static/img/Happy/3.png', alt='logo3')
          img.happy__img(src='static/img/Happy/4.png', alt='logo4')
          img.happy__img(src='static/img/Happy/5.png', alt='logo5')
          img.happy__img(src='static/img/Happy/6.png', alt='logo6')
    section#portfolio.portfolio
      .portfolio__body
        .portfolio__content
          .portfolio__sidebar
            div
              h3.portfolio__title.title Portfolio
              p.portfolio__subtitle.subtitle
                | The point of using Lorem Ipsum is that it has a non 
                br
                |   more-or-less  dik sonormal distri bution of letters, 
                br
                |  as cliper opposed. a closer look to our fully 
                br
                |  furnished and beautiful demos, which can be use 
                br
                |  easily On this find website you can find some 
                br
                |  pictures I've taken during my travel. a clo 
                br
                |  look to our fully furnished and so beautful demos, 
                br
                |  which can be use.
              a.portfolio__read(href='') Read More...
        .portfolio__images
          .portfolio__box
            img.portfolio__imgOne(src='static/img/alexander-andrews-247193.png', alt='alexander-andrews')
            .portfolio__aside.portfolio__aside_one
              .portfolio__wrap
                a(href='')
                  img(src='static/img/portfolio/Group 9.png', alt='Job')
                .portfolio__col
                  img(src='static/img/portfolio/share.png', alt='share')
                  // <img
                  .portfolio__links
                    .ya-share2(data-services='facebook,twitter,telegram', data-size='s')
            img.portfolio__imgTwo(src='static/img/anne-edgar-119383.png', alt='anne-edgar')
            .portfolio__aside.portfolio__aside_two
              .portfolio__wrap
                a(href='')
                  img(src='static/img/portfolio/Group 9.png', alt='Job')
                .portfolio__col
                  img(src='static/img/portfolio/share.png', alt='share')
                  .portfolio__links
                    .ya-share2(data-services='facebook,twitter,telegram', data-size='s')
          .portfolio__holder
            .portfolio__inner
              img.portfolio__imgFri(src='static/img/content-14.png', alt='content-14')
              .portfolio__aside.portfolio__aside_fri
                .portfolio__wrap
                  a(href='')
                    img(src='static/img/portfolio/Group 9.png', alt='Job')
                  .portfolio__col
                    img(src='static/img/portfolio/share.png', alt='share')
                    .portfolio__links
                      .ya-share2(data-services='facebook,twitter,telegram', data-size='s')
              img.portfolio__imgFour(src='static/img/larm-rmah-46823.png', alt='larm-rmah')
              .portfolio__aside.portfolio__aside_four
                .portfolio__wrap
                  a(href='')
                    img(src='static/img/portfolio/Group 9.png', alt='Job')
                  .portfolio__col
                    img(src='static/img/portfolio/share.png', alt='share')
                    .portfolio__links
                      .ya-share2(data-services='facebook,twitter,telegram', data-size='s')
            .portfolio__inner
              img.portfolio__imgFive(src='static/img/clem-onojeghuo-101919.png', alt='clem-onojeghuo')
              .portfolio__aside.portfolio__aside_five
                .portfolio__wrap
                  a(href='')
                    img(src='static/img/portfolio/Group 9.png', alt='Job')
                  .portfolio__col
                    img(src='static/img/portfolio/share.png', alt='share')
                    .portfolio__links
                      .ya-share2(data-services='facebook,twitter,telegram', data-size='s')
              img.portfolio__imgSix(src='static/img/sl-home2.png', alt='sl-home2')
              .portfolio__aside.portfolio__aside_six
                .portfolio__wrap
                  a(href='')
                    img(src='static/img/portfolio/Group 9.png', alt='Job')
                  .portfolio__col
                    img(src='static/img/portfolio/share.png', alt='share')
                    .portfolio__links
                      .ya-share2(data-services='facebook,twitter,telegram', data-size='s')
            .portfolio__picture
              img.portfolio__imgSeven(src='static/img/zara-walker-56626.png', alt='zara-walker')
              .portfolio__aside.portfolio__aside_seven
                .portfolio__wrap
                  a(href='')
                    img(src='static/img/portfolio/Group 9.png', alt='Job')
                  .portfolio__col
                    img(src='static/img/portfolio/share.png', alt='share')
                    .portfolio__links
                      .ya-share2(data-services='facebook,twitter,telegram', data-size='s')
      .portfolio__buttons
        a.portfolio__button(href='') See More
    section#blog.blog
      .blog__body
        .blog__row
          .blog__column
            .item__blog
              .item-blog__images
                img.item-blog__img(src='static/img/alejandro-lopez-1284.png', alt='alejandro-lopez')
              .item-blog__title
                | Design is the method of putting form and 
                br
                |  content together .
              .item-blog__date
                | Life style - 
                span July 3, 2017
              .item-blog__text
                | Sed ut perspiciatis unde omnis iste natus error sit lao 
                br
                |  hoksi voluptatem lios mukatu accusantium doloremq 
                br
                |  doisa nojilaudan tium, totam rem aperiam, uni eaque 
                br
                |  ipsa quae ab cok illo inven tore siva.
              a.item-blog__link(href='') Read More
          .blog__column.blog__column_mod
            .blog__header
              h3.blog__title.title Blog
              p.blog__subtitle.subtitle
                | The point of using Lorem Ipsum is that it has a non 
                br
                |   more-or-less  normal distri bution of letters, as cliper 
                br
                |  opposed. a closer look to our fully,
            .item__blog
              .item-blog__images
                img.item-blog__img(src='static/img/pete-bellis-278587.png', alt='pete-bellis')
              .item-blog__title
                | Design is the method of putting form and 
                br
                |  content together .
              .item-blog__date
                | Life style - 
                span July 3, 2017
              .item-blog__text
                | Sed ut perspiciatis unde omnis iste natus error sit lao 
                br
                |  hoksi voluptatem lios mukatu accusantium doloremq 
                br
                |  doisa nojilaudan tium, totam rem aperiam, uni eaque 
                br
                |  ipsa quae ab cok illo inven tore siva.
              a.item-blog__link(href='') Read More
          .blog__column
            .item__blog
              .item-blog__images
                img.item-blog__img(src='static/img/scott-webb-16964.png', alt='scott-webb')
              .item-blog__title
                | Design is the method of putting form and 
                br
                |  content together .
              .item-blog__date
                | Life style - 
                span July 3, 2017
              .item-blog__text
                | Sed ut perspiciatis unde omnis iste natus error sit lao 
                br
                |  hoksi voluptatem lios mukatu accusantium doloremq 
                br
                |  doisa nojilaudan tium, totam rem aperiam, uni eaque 
                br
                |  ipsa quae ab cok illo inven tore siva.
              a.item-blog__link(href='') Read More
    section.work
      .work__image
        img.work__squareOne(src='static/img/work/Group 12 copy 3.png', alt='Group 12')
        img.work__squareTwo(src='static/img/work/Group 12 copy 4.png', alt='Group 12')
      .work__body
        .work__box
          h3.work__title.title Let's work?
          form.work__form
            input.work__text.info(name='text', type='text', placeholder='*Your name')
            input.work__email.info(name='email', type='email', placeholder='*Your Email')
            textarea.work__field.info(name='messeg', id='', cols='30', rows='5', placeholder='Your Massages')
            input#btn.work__button.info(type='submit', value='Send Massage', disabled='')
        .work__buttons
          button.work__arrow
            img(src='static/img/arrow__work.png', alt='arrow__work')
        .work__messeg
          .work__modal
            h3 &#10004;
            p форма отправлена успешно
            bution.work__off OK
      hr
    footer.footer
      .footer__body
        .footer__wrapper
          .footer__column
            .footer__logo
              img(src='static/img/Logo.png', alt='Logo')
            .footer__contact
              h3.footer__title Contact
              p.footer__subtitle
                | 237 Church St, San Francisco, 
                br
                |  CA 94114, USA 
                br
                |  nazmulhasanjingar@gmail.com
            .footer__follow
              .footer__title Follow me on:
              .footer__links
                a.footer__link(href='')
                  i.fa.fa-facebook(aria-hidden='true')
                a.footer__link(href='')
                  i.fa.fa-twitter(aria-hidden='true')
                a.footer__link(href='')
                  i.fa.fa-instagram(aria-hidden='true')
                a.footer__link(href='')
                  i.fa.fa-telegram(aria-hidden='true')
          .footer__column
            h3.footer__head Latest Blog Posts
            .footer__box
              .footer__img
                img(src='static/img/footer/1.jpg', alt='footer')
              .footer__text
                p.footer__subtitle
                  | Design is the method of putting form 
                  br
                  |  and content together .
                p.footer__subtitle
                  | Life style - 
                  span July 3, 2017
            .footer__box
              .footer__img
                img(src='static/img/footer/2.jpg', alt='footer')
              .footer__text
                p.footer__subtitle
                  | Design is the method of putting form 
                  br
                  |  and content together .
                p.footer__subtitle
                  | Life style - 
                  span July 3, 2017
            a.footer__button(href='') More...
          .footer__column
            h3.footer__head Quick Link
            .footer__item
              a.footer__items(href='#') Home
              a.footer__items(href='#') About
              a.footer__items(href='#') Clients
              a.footer__items(href='#') Portfolio
              a.footer__items(href='#') Blog
          .footer__column
            h3.footer__head Instagram Update
            .footer__container
              .footer__row
                div
                  img(src='static/img/footer/3.jpg', alt='footer')
                .footer__page
                  img(src='static/img/footer/4.jpg', alt='footer')
                  img(src='static/img/footer/5.jpg', alt='footer')
              .footer__images
                img(src='static/img/footer/6.jpg', alt='footer')
                img(src='static/img/footer/7.jpg', alt='footer')
                img(src='static/img/footer/8.jpg', alt='footer')
      .footer__informations
        p.footer__info All Rights @ 2017 By Nazmul Hasan Jingar
    script(src="static/js/libs.min.js")
    script(src="static/js/main.min.js")
    script(src='https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js')
    script(src='https://yastatic.net/share2/share.js')
